<h1>Admin Page</h1>
<p>
    Only accessible to Admin users.
</p>
<p>
    @if (!User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Login", "Account")">Login</a>
    }
    else
    {
        <a href="@Url.Action("Logout", "Account")">Logout</a>
    }
</p>